<app-header></app-header>

<div *ngIf="showIntro">
  <app-intro (startQuiz)="startQuiz($event)"></app-intro>
</div>

<div *ngIf="showQuestion">
  <app-question-list
    [questionsNum]="questionsNum"
    [currentQuestionIndex]="currentQuestionIndex"
    [totalScore]="totalScore"
    [totalCorrectAnswer]="totalCorrectAnswer"
    (handleCurrentQI)="currentQuestionIndex = $event"
    (handleTotalScore)="totalScore = $event"
    (handleTotalCA)="totalCorrectAnswer = $event"
    (handleShowQuestion)="showQuestion = $event"
    (handleShowResults)="showResults = $event"
  ></app-question-list>
</div>

<div *ngIf="showQuestion">
  <app-status-bar
    [questionsNum]="questionsNum"
    [currentQuestionIndex]="currentQuestionIndex"
  ></app-status-bar>
</div>

<div *ngIf="showResults">
  <app-results
    [questionsNum]="questionsNum"
    [totalScore]="totalScore"
    [totalCorrectAnswer]="totalCorrectAnswer"
  ></app-results>
</div>

<button *ngIf="showResults" (click)="startNewQuiz()">NEW QUIZ</button>
